
    
    <!-- <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %> -->

  

    <!-- <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %> -->

<div class="hero">
    <div class="wrapper">
      <div class="col-1">
        <section>
          <h1 id="hello">Hello</h1>
          <h3>My name is Max. This is my &nbsp<strong id="desc">website</strong></h3>
        </section>
      </div>
      <div class="col-2">
        <section>
          <img src="http://i.imgur.com/bqzXpcM.jpg" width="200px" height: 200px alt="maxslob">
          <h2>I'm</h2>
          <h3><i>Developer</i> & <b>Designer</b></h3>
        </section>
      </div>
      <p><a href="#content"><span>scroll down</span><br><i class="fa fa-angle-down"></i></a></p>
    </div>
  </div>

  <a id="content"></a>
  <main class="clearfix">
      <h1>What do I know?</h1>
      <div id="main-content" class="wrapper">
          <section>
            <span>1</span><h2>Front End</h2>
            <hr>
            <ul>
              <li>HTML5</li>
              <ul><li>Jade, Microdata,  Forms</li></ul>
              <li>CSS3</li>
              <ul>
                <li>Bootstrap, 
                 Sass
                 Bourbon/Stylus </li>
              </ul>
              <li>JavaScript</li>
              <ul>
                <li>jQuery </li>
                <li>Angular.js</li>
                <ul>
                  <li>MVC, 
                  Directives, 
                  Controllers,
                  Services</li>
                </ul>
                <li>CoffeeScript, 
                JSON (APIs)</li>
              </ul>
            </ul>
          </section>

          <section>
            <span>2</span><h2>Design</h2>
            <hr>
            <ul>
              <li>Responsive</li>
              <ul>
                <li>Layout, 
                Images</li>
              </ul>
              <li>Typography</li>
              <li>Color scheme</li>
              <li>Graphics</li>
              <ul>
                <li>Photoshop</li>
                <ul>
                  <li>Layout, 
                  Patterns</li>
                </ul>
                <li>Illustrator</li>
                <ul>
                  <li>Logos, 
                  SVG</li>
                </ul>
              </ul>
            </ul>
          </section>

          <section>
            <span>3</span><h2>Back End</h2>
            <hr>
            <ul>
              <li>Ruby on Rails (Basics)</li>
              <ul>
                <li>MVC, 
                Models, 
                Views, 
                Controllers, 
                Helpers</li>
              </ul>
              <li>Also GIT</li>
              <ul>
                <li>Checkout, 
                Merge,  
                GitHub</li>
              </ul>
              <li>English Level</li>
              <ul>
                <li>Upper Intermediate</li>
              </ul>
            </ul>
          </section>
      </div>
      <a href="#about">
      <article class="wrapper">
          <h1>I'm availible for hire. <i class="fa fa-hand-pointer-o"></i></h1>
      </article>
      </a>
  </main>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
    setTimeout(desc, 2500);
    function hide(){
      $('#desc').animate({'opacity': '0'}, 2500);
    }
    function show(){
      $('#desc').animate({'opacity': '1'}, 2500);
    }
    function desc(){
      if($('#desc')){
      $('#desc').html('blog').css('box-shadow', '0 1px 0 0 #1976D2');
      $('#hello').css('color',"#1976D2");
      show();
      setTimeout(desc2, 5000);
      hide();}
    }
    function desc2(){
      $('#desc').html('portfolio').css('box-shadow', '0 1px 0 0 #BB3E3E');
      $('#hello').css('color',"#BB3E3E");
      show();
      setTimeout(desc3, 5000);
      hide();
    }
    function desc3(){
      $('#desc').html('website').css('box-shadow', '0 1px 0 0 white');
      show();
      setTimeout(desc, 5000);
      hide();
      $('#hello').css('color',"white");
    }
  </script>
  <script type="text/javascript" charset="utf-8">
    $('a[href^="#"]').on('click',function (e) {
          e.preventDefault();

          var target = this.hash;
          var $target = $(target);

          $('html, body').stop().animate({
              'scrollTop': $target.offset().top
          }, 200, 'swing', function () {
              window.location.hash = target;
          });
      });
  </script>
<!-- <script>
    $('body').append('<div id="loader"></div>');
    $(window).load(function(){
    $("#loader").fadeOut("slow");
    });
</script> -->