<style type="text/css" media="screen">
  .done #page_title{
    margin-bottom: 3em;
  }
  .done div h1{
    font-size: 2em;
    text-align: center;
  }
  .done div p{
    font-size: 1.5em;
    text-align: center;
  }
  .done{
    margin-bottom: 15em;
  }
</style>
<div class="done">

  <h1 id="page_title">Done!</h1>

  <div class="skinny_wrapper">
    <h1>Thank you for your message!</h1>
    <p>I'll get back to you soon.</p>
  </div>

</div>