<div class="wrapper skinny_wrapper">
<h1 id="page_title">The Stuff I've Built</h1>
<hr id="hr-darkred">

<% @projects.each do |project| %>
  <div class="post">
    <h2><a href="#"><%= link_to project.title, project %></a></h2>
    <p class="date"><%= project.created_at.strftime('%A, %B %d') %></p>
    <hr id="hr-red">
  </div>
<% end %>

  
</div> <!-- post-wrapper -->