#share_box{
	text-align: center;
	p{
		padding: 0 0 1em 0;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
		color: $tex - 60;
		font-size: .8em;
	}
	i{
		color: $tex - 60;
		padding: 1em 1.5em;
		&:hover{
			color: $dark;
			cursor: pointer;
		}
	}
}

.skinny_wrapper{
	width: 760px;
	margin: 0 auto;
}

#admin_links{
	border-top: 1px solid $b;
	border-bottom: 1px solid $b;
	text-align: center;
	padding: 1em 0;
	margin: 3em 0;
	a{
		color: red - 100;
		margin: 0 1em;
		font-weight: 700;
		font-size: .8em;
		text-transform: uppercase;
		text-decoration: none;
		&:hover{
			color: #333;
		}
	}
}

// PAGINATION

.pagination:before,
.pagination:after{
	content: " ";
	display: table;
}

.pagination:after{
	clear: box;
}

.pagination{
	text-align: center;
	margin: 0em 0 4em 0;
	a, .previous_page, .current, .next_page{
		padding: 1.5em 2em;
		margin: 0 1em;
		border-radius: .30em;
		line-height: 40px;
		text-decoration: none;
		background: white;
		font-weight: 700;
		font-size: 1.4em;
		font-style: normal;
		color: $dark;
		&:hover{
			background: $light;
			color: white;
		}
	}
	.current{
		background: $light;
		color: white;
	}
	.disabled{
		color: #C0C0C0;
		&:hover{
			color: #C0C0C0;
			background: white;
		}
	}
}